<div class="col border">
    <h2 class="border-bottom p-2 text-muted">Suggester Information</h2>
    <h4 class="text-uppercase fw-bold text-danger">
        <%= item.suggesterName %>
    </h4>
    <h6>
        <span class="text-muted">Father Name:</span>
        <%= item.suggesterFatherName %>
    </h6>
    <h6>
        <span class="text-muted">Constituency</span>
        <%= item.suggConstTyp %>
            <%= item.suggesterConstituency %>
    </h6>
    <h6>
        <span class="text-muted">Contact Number:</span>
        <%= item.suggesterContactNum %>
    </h6>
    <h6>
        <span class="text-muted">CNIC#:</span>
        <%= item.suggesterContactNum %>
    </h6>
    <h6>
        <span class="text-muted">Current Address:</span>
        <%= item.suggesterCurrentAddress %>
    </h6>
    <hr>
    <% if (item.ticketIssued === 'issued') { %>
        <h3 class="text-muted">Ticket Status</h3>
        <div class="ticket">
        <img src="../public/images/ticket_allot.gif" class="ticket" alt="Party Ticket Allot Stamp" width="300px">
        </div>
      <% }%>
</div>