<div class="col border">
    <h2 class="border-bottom p-2 text-muted">Vindicator Information</h2>
    <h4 class="text-uppercase fw-bold text-danger">
        <%= item.vindicatorName %>
    </h4>
    <h6>
        <span class="text-muted">Father Name:</span>
        <%= item.vindicatorFatherName %>
    </h6>
    <h6>
        <span class="text-muted">Constituency</span>
        <%= item.vindConstTyp %>
            <%= item.vindicatorConstituency %>
    </h6>
    <h6>
        <span class="text-muted">Contact Number:</span>
        <%= item.vindicatorContactNum %>
    </h6>
    <h6>
        <span class="text-muted">CNIC#:</span>
        <%= item.vindicatorCNIC %>
    </h6>
    <h6>
        <span class="text-muted">Current Address:</span>
        <%= item.vindicatorCurrentAddress %>
    </h6>
</div>