<%- include('partials/header') %>
  <section class="team-grid">
    <div class="container">
      <div class="row people">
        <h1 class="mb-3">ANP Candidates Database</h1>
        <% if (items.length> 0) { %>
          <% items.forEach(item=> { %>
            <div class="col-md-4 col-lg-3 item">
              <div class="box" style="background-image:url('<%= item.imagePath %>')">
                <div class="cover">
                  <h3 class="name">
                    <%= item.name %>
                  </h3>
                  <p class="title">
                    <%= item.district %> - <%= item.constituencyType %>
                        <%= item.constituency %>
                  </p>
                  <a href="/item/<%= item._id %>"><button class="btn btn-primary" type="button"
                      style="width: 50px;font-size: 12px;">View</button></a>
                </div>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <%- include('errors/no_records_found') %>
                  <% } %>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>